body {
    display: flex;
    align-items: flex-start;
    /* 將內容頂部對齊 */
    justify-content: flex-start;
    /* 將內容左對齊 */
    height: 100vh;
    margin: 0;
    padding: 20px;
  }
  
  canvas {
    border: 1px solid black;
  }
  
  #container {
    display: flex;
  }
  
  #buttonInfoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* 添加左側間距 */
  }
  
  #buttonContainer,
  #info {
    border: 1px solid #ccc;
    /* 添加邊框 */
    padding: 10px;
    /* 添加內邊距 */
    border-radius: 5px;
    /* 添加圓角 */
  }
  
  #buttonContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* 按鈕容器底部外邊距 */
  }
  
  #buttonContainer button {
    margin-bottom: 10px;
    /* 添加垂直方向的外邊距 */
  }
  
  #info {
    text-align: center;
  }
  
  #info p {
    margin: 20px 0;
    /* 添加段落的上下間距 */
  }
  