body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中 */
}

#galtonBoard {
    width: 80%;
    /* height: auto;  可以取消 height: auto */
    border: 1px solid #000;
    background-color: #fff;
}

.controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px; /* 控制元素之间的间距 */
    
}

#distribution {
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

.bin {
    flex: 1;
    background-color: #3498db;
}