html {
  box-sizing: border-box;
  font-size: 10px;
  background: #99939353;
}

video {
  visibility: hidden;
}

#tempCanvas {
  visibility: hidden;  
}


.container {
  /*
  display: flex;
  flex-direction: row;
  */
  align-items: left;
  
}
#canvas {
  position: absolute;
  left: 10px;
}
#leftCanvas {
  position: absolute;
  left: 330px;
}
#rightCanvas {
  position: absolute;
  left: 690px;
}

/*
.photobooth {
  position: relative;
}
*/
.buttonDiv {
  /*
  display: flex;
  justify-content: flex-end;
  */
  margin-top: 10px;
}

.buttonDiv button {
  margin-left: 10px;
}


