body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    touch-action:none;

}

h1 {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}


.container {
    display: flex; /* 使用flex將canvas和controls並排 */
    justify-content: space-between; /* 保持canvas和controls間有空間 */
    align-items: flex-start; /* 將兩個元素在頂端對齊 */
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}


#canvas {
    border: 1px solid black; /* Optional: Adds a visible border around the canvas */
    display: block;
    margin: 20px auto; /* Center the canvas */
}

.controls {
    margin-bottom: 20px;
}

.input-group {
    margin: 10px 0;
}

#ruleInput {
    white-space: pre; /* Preserve whitespace and line breaks */    
    text-align: left;
    padding: 5px; /* Optional, to add some padding inside the textarea */
    font-family: monospace; /* Optional, for consistent character width */
}