/* style.css */

html {
    margin: 0;
    border: 0;
    padding: 0; /* Optionally set padding to 0 as well */
  }



  body {
    margin: 0;
    border: 0;
    padding: 0;
  }


.gantt-chart-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.place-label {
    font-size: 14px; /* Adjust the font size as needed */

    width: 40px;
    overflow: clip;
    white-space:pre-wrap;
    text-overflow: ellipsis;
    background-color: lightblue; /* Set the background color */

}

.bar {
    width: 300px; /* Adjust the width value as needed */
    height: 40px; /* Set the height of the bars */
    background-color: lightblue; /* Set the background color */
    border: 1px solid #fff; /* Optional: Add a border to separate bars visually */
    /* Set a fixed width for the bars */
}

.bar-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: start;
    font-size: 14px; /* Adjust the font size as needed */
    color: #000; /* Adjust the text color as needed */
}

.separator-line {
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Gray color */
    margin-top: 1px; /* Adjust as needed */
    margin-bottom: 1px; /* Adjust as needed */
}

.hour-line {
    position:absolute;
    height: 50px;
    width: 1px;
    background-color: #333; /* Line color */
    opacity: 0.2; /* Adjust as needed */
}

/* Styles for open operating periods */
.open-period {
    background-color: #87CEEB; /* Light blue color for open periods */
}

/* Styles for closed operating periods */
.closed-period {
    background-color: #D3D3D3; /* Light grey color for closed periods */
}

